<script lang="ts">
	import Scrollup from '$lib/Scrollup.svelte';

	function toggleTheme() {
		const dark = document.documentElement.classList.toggle('dark');
		localStorage.setItem('svuick-theme', dark ? 'dark' : 'light');
	}
</script>

<div class="min-h-screen flex flex-col">
	<header class="container mx-auto flex items-center gap-4 py-4">
		<h1 class="text-3xl mr-auto">
			<a sveltekit:prefetch href="/"> Svuick </a>
		</h1>

		<button
			type="button"
			role="switch"
			aria-label="toggle dark mode"
			on:click={toggleTheme}
			class="w-10 h-5 border rounded-full relative border-neutral-300 dark:border-neutral-600 hover:border-neutral-500 bg-neutral-100 dark:bg-neutral-700 dark:hover:border-neutral-400 transition-colors"
		>
			<span
				class="absolute left-0 top-0 p-0.5 transform dark:translate-x-5 rounded-full bg-white dark:bg-neutral-800 transition-all"
			>
				<span class="block dark:hidden">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="h-3.5 w-3.5"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
						stroke-width="2"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
						/>
					</svg>
				</span>
				<span class="hidden dark:block">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="h-3.5 w-3.5"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
						stroke-width="2"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"
						/>
					</svg>
				</span>
			</span>
		</button>
		<a sveltekit:prefetch class="py-1 px-2 block" href="/packages">Packages</a>
		<a sveltekit:prefetch class="py-1 px-2 block" href="/guides">Guides</a>
	</header>

	<slot />

	<footer
		class="mt-auto border-t border-[#e5e5e5] dark:border-[#404040] text-center text-neutral-400 font-medium text-sm p-4"
	>
		<div>Released under the MIT License.</div>
		<div>Copyright © 2022-present David Plugge</div>
	</footer>
</div>

<Scrollup />
