<script lang="ts">
	import SEO from '$lib/SEO.svelte';

	export let title = 'Svuick';
	export let link = '';
	export let description = 'useful svelte/kit packages';
</script>

<SEO {title} url={`${import.meta.env.VITE_SITE_URL}${link}`} {description} />

<div class="prose dark:prose-invert 2xl:max-w-[90ch]">
	<slot />
</div>

<style lang="postcss">
	div :global(a[href^='#']) {
		@apply no-underline;
	}
	div :global(a[href^='#']:hover) {
		@apply underline;
	}

	div :global(:where(h2, h3, h4) .icon-link) {
		position: relative;
	}
	div :global(:where(h2, h3, h4) .icon-link::before) {
		content: '#';
		@apply text-svuick-500 opacity-80 top-0 absolute left-[-1.5ch] transition-opacity;
	}
	div :global(:where(h2, h3, h4) .icon-link:hover::before) {
		opacity: 1;
	}

	div :global(*:target) {
		@apply underline;
	}
</style>
