<script lang="ts">
	import SEO from '$lib/SEO.svelte';
</script>

<SEO />

<main class="h-screen grid place-items-center">
	<div class="flex flex-col gap-20">
		<h1 class="text-7xl text-neutral-700 dark:text-neutral-200 flex flex-col items-center gap-6">
			Welcome to
			<div class="flex flex-col">
				<div>
					<span class="text-svuick-400">Sv</span><span class="opacity-25">elte</span>
				</div>
				<div>
					<span class="ml-[.25em] opacity-25">Q</span><span class="text-svuick-500">uick</span>
				</div>
			</div>
		</h1>

		<div class="flex justify-center text-xl">
			<a
				sveltekit:prefetch
				class="transition-colors text-svuick-500/75 hover:text-svuick-500 py-2 px-4"
				href="/packages">packages</a
			>
			<a
				sveltekit:prefetch
				class="transition-colors text-svuick-500/75 hover:text-svuick-500 py-2 px-4"
				href="/guides">guides</a
			>
		</div>
	</div>
</main>
