<script lang="ts">
	import Modal from '@svuick/modal';

	let show = false;
</script>

<div class="p-4 rounded-xl not-prose bg-neutral-100 dark:bg-code">
	<span>Modal is currently {show ? 'open' : 'closed'}</span>

	<Modal let:open let:close bind:show>
		<div
			slot="modal"
			class="p-4 bg-neutral-100 dark:bg-neutral-800 shadow-2xl ring-1 ring-black/5 rounded-lg"
		>
			<h1 class="text-2xl mb-8">Svuick modal</h1>
			<button on:click={close}>Close</button>
		</div>
		<button
			class="block px-2 py-1 text-white bg-svuick-700 hover:bg-svuick-600 rounded shadow"
			on:click={open}>Open</button
		>
	</Modal>
</div>
