<script lang="ts">
	import Portal from '@svuick/portal';
</script>

<Portal>
	<h1>Test</h1>
</Portal>

<h1>Welcome to SvelteKit</h1>
<p>Visit <a href="https://kit.svelte.dev">kit.svelte.dev</a> to read the documentation</p>
