<script lang="ts" context="module">
	import { createEventDispatcher, getContext, setContext } from 'svelte';

	const CONTEXT_KEY = {};
	interface Context {
		close(): void;
	}

	export function createModalCloser(): Context['close'] {
		const { close } = getContext<Context>(CONTEXT_KEY);
		return close;
	}

	let modalsOpen = 0;
</script>

<script lang="ts">
	import { portal } from '@svuick/portal';
	import { fade, fly } from 'svelte/transition';
	import { backOut } from 'svelte/easing';

	export let enablePageScroll = false;
	export let noCloseOnOuter = false;
	export let show = false;

	const dispatch = createEventDispatcher();

	function onOuterClick() {
		if (!noCloseOnOuter) close();
	}

	function open() {
		if (!enablePageScroll && modalsOpen === 0) document.body.classList.add('svuick-modal-open');
		modalsOpen += 1;
		show = true;
		dispatch('open');
	}
	function close() {
		modalsOpen = Math.max(modalsOpen - 1, 0);
		if (!enablePageScroll && modalsOpen === 0) document.body.classList.remove('svuick-modal-open');
		show = false;
		dispatch('close');
	}

	setContext<Context>(CONTEXT_KEY, { close });
</script>

{#if show}
	<div
		class="svuick-modal"
		use:portal
		on:click|self={onOuterClick}
		transition:fade|local={{ duration: 300 }}
	>
		<div
			in:fly|local={{ duration: 200, delay: 100, y: 50, easing: backOut }}
			out:fly|local={{ duration: 200, y: 50 }}
		>
			<slot name="modal" {close} />
		</div>
	</div>
{/if}

<slot {open} {close} />

<style>
	.svuick-modal {
		box-sizing: border-box;
		background-color: rgba(0, 0, 0, 0.25);
		position: fixed;
		inset: 0;
		height: 100vh;
		max-height: 100vh;
		width: 100%;
		min-width: 100vw;
		overflow: auto;
		display: grid;
		place-items: center;
		z-index: 50;
	}
	:global(body.svuick-modal-open) {
		overflow: hidden;
	}
</style>
