<script lang="ts">
	import { getIdeContext } from '$lib/utils';
	import { TextEditor, type ContentChangeEvent } from '@svuick/monaco';

	const { currentFile, files } = getIdeContext();

	function handleContentChange(e: ContentChangeEvent) {
		const { path, content } = e.detail;
		$files[path] = content;
	}
</script>

<TextEditor
	language={''}
	path={$currentFile}
	config={{ theme: 'vs-dark' }}
	on:content_changed={handleContentChange}
/>
