<script lang="ts">
	import { getIdeContext } from '$lib/utils';

	const { currentFile, files, events } = getIdeContext();
</script>

<ul>
	{#each Object.entries($files) as [path, content]}
		<li>
			<button
				class:active={$currentFile === path}
				on:click={() => events.emit('file_open', { path, content })}>{path}</button
			>
		</li>
	{/each}
</ul>

<style>
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		background-color: #252526;
	}
	button {
		text-align: left;
		display: block;
		padding: 0.25em 2em;
		width: 100%;
		border: none;
		background-color: #252526;
		color: #fff;
		cursor: pointer;
	}
	button:hover {
		background-color: #2a2d2e;
	}
	button.active {
		background-color: #37373d;
	}
	button:focus {
		background-color: #04395e;
		outline: 2px solid #0078c8;
		outline-offset: -2px;
	}
</style>
