/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply motion-safe:scroll-smooth;
}

body {
	@apply bg-white text-neutral-900 dark:bg-neutral-800 dark:text-white;
}

@media screen and (min-width: 2000px) {
	html {
		@apply text-lg;
	}
}

/* scrollbar */
* {
	scrollbar-color: inherit;
	scrollbar-width: thin;
}
::-webkit-scrollbar {
	@apply w-2.5;
}
body {
	scrollbar-color: theme('colors.neutral.500');
}
@media (prefers-color-scheme: dark) {
	body {
		scrollbar-color: theme('colors.neutral.600');
	}
}
*::-webkit-scrollbar-corner,
*::-webkit-scrollbar-track {
	@apply bg-transparent;
}
*::-webkit-scrollbar-thumb {
	@apply bg-neutral-400 dark:bg-neutral-600 rounded-full;
}
*::-webkit-scrollbar-track {
	@apply bg-transparent;
}
/* scrollbar end */

/* code highlighing */
.shiki {
	@apply rounded-xl px-6 py-4;
}
.shiki code {
	counter-reset: step;
	counter-increment: step 0;
	@apply block w-full overflow-auto;
}
.shiki-line-numbers .line::before {
	content: counter(step);
	counter-increment: step;
	width: 1rem;
	margin-right: 1.5rem;
	display: inline-block;
	text-align: right;
	color: rgba(115, 138, 148, 0.4);
}
/* code highlighing end */

/* forms */
input,
select,
textarea {
	@apply px-2 py-1 outline-none rounded ring-svuick-700 focus:ring bg-neutral-100 dark:bg-neutral-700 dark:text-white;
}
/* forms end */

/* prose overrides */
.prose code::before,
.prose code::after {
	content: '';
}
.prose code {
	@apply text-orange-700;
}
/* prose overrides end */
