<script lang="ts">
	import { createEventContext } from '$lib';

	const events = createEventContext();
	events.on('test', () => {
		console.log('test');
	});

	setTimeout(() => {
		events.emit('test');
	}, 1000);
</script>

<button on:click={() => events.emit('test')}>Emit</button>
