<script lang="ts">
	import { createEventContext } from '$lib';

	const events = createEventContext();
	events.on('test', () => {
		console.log('test');
	});

	events.emit('test');
</script>

<button on:click={() => events.emit('test')}>Emit</button>
