<script lang="ts">
	import type { SplitViewItem } from './types';
	import { pannable, type PanEvent } from './pannable';
	import { clamp, round } from './helper';

	// divider
	export let dividerSize: number = 2;
	export let dividerScale: number = 2;
	export let dividerColor: string = '#727272';
	export let dividerActiveColor: string = '#007fd4';

	export let vertical = false;
	export let items: SplitViewItem[];

	let active = -1;

	const itemElements: HTMLDivElement[] = [];

	$: style = parseCss({
		[`grid-template-${vertical ? 'rows' : 'columns'}`]: template(items),
		'--divider-size': `${dividerSize}px`,
		'--divider-scale': `${dividerScale}`,
		'--divider-clr': dividerColor,
		'--divider-clr-active': dividerActiveColor
	});

	function template(items: SplitViewItem[]) {
		return items.map(({ size, minSize }) => `minmax(${minSize ?? 0}px, ${size}fr)`).join(` 0 `);
	}

	function parseCss(style: Record<string, string>) {
		const items: string[] = [];
		for (const key in style) {
			items.push(`${key}: ${style[key]};`);
		}
		return items.join(' ');
	}

	function handlePanMove(event: PanEvent) {
		const wall = event.target as HTMLElement;
		const index = parseInt(wall.dataset.splitindex as string);
		const { top, bottom, left, right, width, height } = wall.parentElement!.getBoundingClientRect();
		const extents = vertical ? [top, bottom, height] : [left, right, width];
		let px = clamp(extents[0], extents[1], vertical ? event.detail.y : event.detail.x);

		const relative = px / extents[2];

		const leftSize = items.slice(0, index).reduce((sum, { size }) => sum + size, 0);
		const rightSize = items.slice(index).reduce((sum, { size }) => sum + size, 0);
		const sum = leftSize + rightSize;

		let targetLeft = round(sum * relative, 3);
		let targetRight = round(sum * (1 - relative), 3);

		if (targetLeft > leftSize) {
			let delta = targetLeft - leftSize;
			items[index - 1].size += delta;
			// after
			for (let i = index; i < items.length; i++) {
				if (items[i].size >= delta) {
					items[i].size -= delta;
					delta = 0;
					break;
				} else {
					delta -= items[i].size;
					items[i].size = 0;
				}
			}
		} else {
			let delta = targetRight - rightSize;
			items[index].size += delta;
			// before
			for (let i = index - 1; i >= 0; i--) {
				if (items[i].size >= delta) {
					items[i].size -= delta;
					delta = 0;
					break;
				} else {
					delta -= items[i].size;
					items[i].size = 0;
				}
			}
		}
	}
</script>

<div class="svuick-splitview svuick-splitview-{vertical ? 'vertical' : 'horizontal'}" {style}>
	{#each items as { component, props }, i}
		{#if i > 0}
			<div
				class="svuick-splitview-divider"
				class:active={active === i}
				data-splitindex={i}
				use:pannable
				on:panmove={handlePanMove}
				on:panstart={() => (active = i)}
				on:panend={() => (active = -1)}
			/>
		{/if}

		<div class="svuick-splitview-item" bind:this={itemElements[i]}>
			<svelte:component this={component} {...props} />
		</div>
	{/each}
</div>

<style>
	.svuick-splitview {
		width: 100%;
		height: 100%;
		display: grid;
		overflow: hidden;
	}
	.svuick-splitview-item {
		overflow: hidden;
	}
	.svuick-splitview-divider {
		background-color: var(--divider-clr);
		transition: transform 50ms 150ms;
	}
	.svuick-splitview-divider:hover,
	.svuick-splitview-divider.active {
		background-color: var(--divider-clr-active);
	}
	.svuick-splitview-horizontal .svuick-splitview-divider {
		cursor: col-resize;
		padding: 0 var(--divider-size);
		margin: 0 calc(var(--divider-size) * -1);
	}
	.svuick-splitview-vertical .svuick-splitview-divider {
		cursor: row-resize;
		padding: var(--divider-size) 0;
		margin: calc(var(--divider-size) * -1) 0;
	}
	.svuick-splitview-horizontal .svuick-splitview-divider:hover,
	.svuick-splitview-horizontal .svuick-splitview-divider:global(.active) {
		transform: scaleX(var(--divider-scale));
	}
	.svuick-splitview-vertical .svuick-splitview-divider:hover,
	.svuick-splitview-vertical .svuick-splitview-divider:global(.active) {
		transform: scaleY(var(--divider-scale));
	}
</style>
