<div class="wrapper">
	<nav>
		<a href="/">Home</a>
		<a href="/single">Single</a>
		<a href="/multi">Multi</a>
	</nav>
	<main>
		<slot />
	</main>
</div>

<style>
	:global(body) {
		margin: 0;
		background-color: #1e1e1e;
		color: #f1f1f1;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
			'Open Sans', 'Helvetica Neue', sans-serif;
	}

	:global(a) {
		color: inherit;
		text-decoration: none;
	}

	.wrapper {
		height: 100vh;
		display: grid;
		grid-template-rows: max-content 1fr;
	}

	nav {
		display: flex;
		border-bottom: 1px solid #555;
	}
	a {
		padding: 0.5em 1em;
	}
</style>
