<script lang="ts">
	import {
		TextEditor,
		createModel,
		setupMonaco,
		cleanupMonaco,
		type ContentChangeEvent
	} from '@svuick/monaco';
	import { onMount } from 'svelte';

	let path = '/main.ts';

	const files: Record<string, string> = {
		'/test.ts': 'export const test = () => console.log("test");',
		'/main.ts': 'import { test } from "./test";\ntest();'
	};

	function loadModels() {
		for (const file in files) {
			createModel(file, files[file]);
		}
	}

	function handleContentChange(e: ContentChangeEvent) {
		const { path, content } = e.detail;
		files[path] = content;
	}

	onMount(() => {
		setupMonaco({
			onReady: loadModels
		});

		return () => {
			cleanupMonaco();
		};
	});
</script>

<div class="container">
	<ul>
		{#each Object.keys(files) as file}
			<li><button class:active={path === file} on:click={() => (path = file)}>{file}</button></li>
		{/each}
	</ul>
	<div class="editor">
		<TextEditor
			language={''}
			{path}
			config={{ theme: 'vs-dark' }}
			on:content_changed={handleContentChange}
		/>
	</div>
</div>

<style>
	.container {
		height: 100%;
		display: flex;
	}
	.editor {
		height: 100%;
		width: 100%;
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		background-color: #2a2d2e;
	}
	button {
		display: block;
		padding: 0.25em 2em;
		width: 100%;
		border: none;
		background-color: #333;
		color: #fff;
		cursor: pointer;
	}
	button:hover {
		background-color: #444;
	}
	button:focus {
		outline: 2px solid #0078c8;
		outline-offset: -2px;
	}
	button.active {
		background-color: #3d4247;
	}
</style>
