<script lang="ts">
	import TextEditor from '@svuick/monaco';

	let content = 'const x = "test"';
</script>

<div>
	<TextEditor
		single
		path="/test.js"
		language="typescript"
		bind:content
		config={{ theme: 'vs-dark' }}
	/>
</div>

<style>
	div {
		height: 100%;
	}
</style>
