<script lang="ts">
	import Editor from '@svuick/editor';
	import StarterKit from '@tiptap/starter-kit';
	import type { Level } from '@tiptap/extension-heading';

	const headingLevels = Array.from({ length: 6 }).map((_, i) => (i + 1) as Level);
</script>

<Editor let:editor class="editor" extensions={[StarterKit]}>
	<div>
		{#each headingLevels as level}
			<button
				on:click={() => editor.chain().focus().toggleHeading({ level }).run()}
				class:active={editor.isActive('heading', { level })}>H{level}</button
			>
		{/each}
		<button
			on:click={() => editor.chain().focus().setParagraph().run()}
			class:active={editor.isActive('paragraph')}>P</button
		>
		<button
			on:click={() => editor.chain().focus().toggleBold().run()}
			class:active={editor.isActive('bold')}>bold</button
		>
		<button
			on:click={() => editor.chain().focus().toggleItalic().run()}
			class:active={editor.isActive('italic')}>italic</button
		>
		<button
			on:click={() => editor.chain().focus().toggleStrike().run()}
			class:active={editor.isActive('strike')}>strike</button
		>
	</div>
</Editor>

<style>
	div {
		margin: 1rem;
	}
	button {
		cursor: pointer;
		border: none;
		padding: 0.25rem 0.5rem;
		margin-inline: 0.25rem;
		background-color: #f5f5f5;
	}
	.active {
		background: #46a6b3;
		color: #ffffff;
	}

	:global(.svuick-editor) {
		outline: none;
		min-height: 800px;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
			'Open Sans', 'Helvetica Neue', sans-serif;
		margin: 1rem;
		padding: 0.5rem 1rem;
		box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.1);
	}
</style>
