<script lang="ts">
	import { autoscroll } from '@svuick/action';
	import { onMount } from 'svelte';

	let items: number[] = [];
	let adding = true;

	onMount(() => {
		const id = setInterval(() => {
			if (adding) {
				items = [...items, items.length + 1];
			}
		}, 100);

		return () => {
			clearInterval(id);
		};
	});
</script>

<button on:click={() => (adding = !adding)}>{adding ? 'stop' : 'start'}</button>

<ul use:autoscroll={{ offset: -50 }}>
	{#each items as item}
		<li>{item}</li>
	{/each}
</ul>

<style>
	ul {
		max-height: 50vh;
		overflow: auto;
	}
</style>
