<script lang="ts">
	import Time from '@svuick/time';
</script>

<Time locales={'de'} />
<br />
<Time
	locales={'de'}
	format={{ numeric: 'auto', minute: '2-digit', second: '2-digit', hour: '2-digit' }}
/>
<br />
<Time
	locales={'de'}
	format={{ numeric: 'auto', minute: '2-digit', second: '2-digit', hour: '2-digit' }}
	live
/>
<br />
<Time
	locales={'de'}
	format={{ numeric: 'auto', minute: '2-digit', second: '2-digit', hour: '2-digit' }}
	relative
	live
/>
