<script lang="ts">
	import type { EditorState, MonacoEditor } from './monaco/types';
	import type { IDisposable } from 'monaco-editor';
	import type { EditorConfig, Monaco } from './monaco/types';
	import { cleanupMonaco, getMonaco, monacoReady, setupMonaco } from './monaco';
	import { createEventDispatcher, onMount } from 'svelte';
	import { updateLanguage } from './monaco/helper';

	export let single = false;
	export let path: string;
	export let language: string | undefined = undefined;
	export let content: string = '';
	export let config: EditorConfig = {};

	const dispatch = createEventDispatcher();

	let editorState: EditorState;
	let monaco: Monaco;
	let lastFile: string = path;
	let editor: MonacoEditor;
	let observer: ResizeObserver;
	let disposeChangeListener: IDisposable;

	$: monaco && language && updateLanguage(path, language);
	$: updateConfig(config);
	$: updateModel(path, content);

	function updateModel(path: string, content: string | undefined) {
		if (!editor) return;

		disposeChangeListener?.dispose();
		let model = monaco.editor.getModel(monaco.Uri.parse(path));

		if (!model) {
			if (!single) {
				dispatch('modal_not_found', { path });
				return;
			}
			const value = content ?? '';
			model = monaco.editor.createModel(value, language, monaco.Uri.parse(path));
		}

		if (model) {
			const viewState = editor.saveViewState();
			if (viewState) {
				editorState.set(lastFile, viewState);
			}
			editor.setModel(model);
			const state = editorState.get(path);
			if (state) {
				editor.restoreViewState(state);
			}
			lastFile = path;
			disposeChangeListener = model.onDidChangeContent(() => {
				if (model) {
					const value = model.getValue();
					content = value;
					dispatch('content_changed', { path, content });
				}
			});
		}
	}

	function updateConfig(config: EditorConfig) {
		if (editor) {
			console.log('update config');
			editor.updateOptions(config);
		}
	}

	function handleLayout() {
		editor.layout({ height: 0, width: 0 });
		editor.layout();
	}

	async function setupEditor(node: HTMLDivElement) {
		const m = getMonaco();
		monaco = m.monaco;
		editorState = m.editorState;

		editor = monaco.editor.create(node, {
			...config,
			model: null,
			automaticLayout: false
		});
		updateModel(path, content);
	}

	function setupAutoLayout(node: HTMLDivElement) {
		observer = new ResizeObserver(([entry]) => {
			editor.layout({
				height: entry.contentRect.height,
				width: entry.contentRect.width
			});
		});
		observer.observe(node);
		handleLayout();
	}

	function init(node: HTMLDivElement) {
		setupEditor(node);
		setupAutoLayout(node);

		return {
			destroy() {
				observer.disconnect();
				editor.dispose();
			}
		};
	}

	single &&
		onMount(() => {
			setupMonaco();
			return () => {
				cleanupMonaco({
					disposeViewstate: true
				});
			};
		});
</script>

{#if $monacoReady}
	<div class="svuick-monaco">
		<div class="svuick-monaco__container" use:init />
	</div>
{/if}

<style>
	.svuick-monaco {
		position: relative;
		height: 100%;
		max-height: 100%;
		width: 100%;
		max-width: 100%;
		overflow: visible;
	}
	.svuick-monaco__container {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
</style>
