<script lang="ts" context="module">
	import { browser } from '$app/env';

	export const available = browser && 'BarcodeDetector' in window;

	function isUrl(str: string) {
		try {
			new URL(str);
			return true;
		} catch (err) {
			return false;
		}
	}
</script>

<script lang="ts">
	import BarcodeDetectorWorker from './worker?worker';
	import { fade } from 'svelte/transition';
	import { createEventDispatcher } from 'svelte';
	import type { BarcodeDetectorResult, FACING_MODE, FORMAT } from './types';

	export let highlightColor: string = '#ff0000';
	export let highlight = false;
	export let format: FORMAT | FORMAT[];
	export let facingMode: FACING_MODE = 'environment';

	let size: { width: number; height: number } | null = null;
	let result: BarcodeDetectorResult;

	const dispatch = createEventDispatcher();

	async function init(node: HTMLVideoElement) {
		let frameId: number;
		let worker: Worker;

		function cleanup() {
			cancelAnimationFrame(frameId);
			worker?.terminate();
		}

		try {
			function handleWorkerMessage(ev: MessageEvent) {
				if (ev.data.type === 'code') {
					cancelAnimationFrame(frameId);
					node.pause();

					const { width, height } = track.getSettings();
					if (width && height) {
						size = { width, height };
					} else {
						size = null;
					}
					result = ev.data.code;
					dispatch('result', {
						isUrl: isUrl(result.rawValue),
						format: result.format,
						value: result.rawValue
					});
				}
			}

			const stream = await navigator.mediaDevices.getUserMedia({
				audio: false,
				video: { facingMode }
			});

			worker = new BarcodeDetectorWorker();
			worker.addEventListener('message', handleWorkerMessage);
			const [track] = stream.getVideoTracks();
			// @ts-ignore
			const imageCapture = new ImageCapture(track);

			function frame() {
				imageCapture
					.grabFrame()
					.then((imageBitmap: ImageBitmap) => {
						worker.postMessage({ type: 'data', source: imageBitmap }, [imageBitmap]);
					})
					.catch(() => {});
				frameId = requestAnimationFrame(frame);
			}

			function start() {
				worker.postMessage({ type: 'init', formats: Array.isArray(format) ? format : [format] });
				frameId = requestAnimationFrame(frame);
			}

			node.addEventListener('play', start);
			node.addEventListener('loadedmetadata', () => node.play());
			node.srcObject = stream;
		} catch (err) {
			cleanup();
		}

		return cleanup;
	}

	function createSVGPath(points: Array<{ x: number; y: number }>) {
		return 'M' + points.map((p) => `${p.x} ${p.y}`).join(' L') + ' Z';
	}

	function setup(node: HTMLVideoElement) {
		const promise = init(node);

		return {
			destroy() {
				promise.then((destroy) => destroy());
			}
		};
	}
</script>

{#if available}
	<div class="svuick-scanner">
		<!-- svelte-ignore a11y-media-has-caption -->
		<video class="svuick-scanner__video" use:setup />

		{#if result && size}
			{#if highlight}
				<svg
					class="svuick-scanner__result-overlay"
					viewBox="0 0 {size.width} {size.height}"
					stroke={highlightColor}
					fill="none"
					stroke-width="2"
				>
					<path d={createSVGPath(result.cornerPoints)} />
				</svg>
			{/if}

			<div class="svuick-scanner__result">
				<slot>
					<div
						in:fade={{ delay: 500, duration: 150 }}
						out:fade={{ duration: 150 }}
						class="svuick-scanner__result-basic"
					>
						<div class="bg-white p-4 rounded">
							{#if isUrl(result.rawValue)}
								<a class="text-blue-500" href={result.rawValue}>{result.rawValue}</a>
							{:else}
								<span>{result.rawValue}</span>
							{/if}
						</div>
					</div>
				</slot>
			</div>
		{/if}
		<div />
	</div>
{:else}
	<slot name="unavailable">
		<p>Code detection is not available</p>
	</slot>
{/if}

<style>
	.svuick-scanner {
		position: relative;
	}
	.svuick-scanner__video {
		width: 100%;
		height: 100%;
	}
	.svuick-scanner__result-overlay,
	.svuick-scanner__result {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.svuick-scanner__result-basic {
		width: 100%;
		height: 100%;
		display: grid;
		place-items: center;
		background-color: rgb(0 0 0 / 0.2);
	}
</style>
