<script lang="ts" context="module">
	import QRCode from 'qrcode';

	export type ERROR_CORRECTION_LEVEL =
		| 'low'
		| 'medium'
		| 'quartile'
		| 'high'
		| 'L'
		| 'M'
		| 'Q'
		| 'H';

	interface GenerateOptions {
		data: string;
		errorCorrectionLevel?: ERROR_CORRECTION_LEVEL;
		size: number;
		margin: number;
		dark: string;
		light: string;
		callback: (error: Error | null) => void;
	}

	export function generateQRCode(node: HTMLCanvasElement, options: GenerateOptions) {
		function gen(options: GenerateOptions) {
			if (!options.data) return;

			QRCode.toCanvas(
				node,
				options.data,
				{
					errorCorrectionLevel: options.errorCorrectionLevel,
					width: options.size,
					color: { dark: options.dark, light: options.light },
					margin: options.margin
				},
				options.callback
			);
		}

		gen(options);

		return {
			update(options: GenerateOptions) {
				gen(options);
			}
		};
	}
</script>

<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	const dispatch = createEventDispatcher();

	/**
	 * the foreground color
	 * @type {string}
	 */
	export let dark: string = '#000000ff';

	/**
	 * the background color
	 * @type {string}
	 */
	export let light: string = '#ffffffff';
	export let size: number = -1;
	export let margin: number = 1;
	export let data: string;
	export let errorCorrectionLevel: ERROR_CORRECTION_LEVEL = 'M';

	function callback(error: Error | null) {
		if (error) {
			if (error.message === 'The amount of data is too big to be stored in a QR Code') {
				dispatch('too_much_data');
			} else {
				dispatch('error', error);
			}
		}
		dispatch('done');
	}
</script>

<canvas
	class={$$restProps.class}
	use:generateQRCode={{ data, errorCorrectionLevel, size, dark, light, margin, callback }}
/>
