<script lang="ts">
	import { useForm, Hint, HintGroup } from '@svuick/form';

	const form = useForm();

	function handleSubmit() {
		console.log('submitted values', $form.valid, $form.values);
	}

	async function checkEmail(value: string) {
		await new Promise((resolve) => setTimeout(resolve, 2000));
		return value.endsWith('@davidplugge.de');
	}
</script>

<form use:form on:submit|preventDefault={handleSubmit}>
	<div>
		<label for="text">Text</label>
		<input name="text" type="text" id="text" required />
		<Hint for="text" on="required">Text is required</Hint>
	</div>
	<div>
		<label for="number">Number</label>
		<input name="number" type="number" id="number" required min="1" max="10" step="2" />

		<Hint for="number" on="required">Number is required</Hint>
		<Hint for="number" on="min" let:min>Number should be {min} or higher</Hint>
		<Hint for="number" on="max" let:max>Number should be {max} or lower</Hint>
		<Hint for="number" on="step" let:step>Number should be in steps of {step}</Hint>
	</div>
	<div>
		<label for="email">Email</label>
		<input name="email" type="email" id="email" required />

		<HintGroup for="email">
			<Hint on="required">Email is required</Hint>
			<Hint on="type">Please enter a valid email</Hint>
			<Hint on={checkEmail}>
				Email should end with @davidplugge.de
				<span slot="loading">Checking...</span>
			</Hint>
		</HintGroup>
	</div>

	<button type="submit">Submit</button>
</form>
