<script lang="ts">
	import SplitView from '@svuick/splitview';
	import Component from './_Component.svelte';
</script>

<SplitView
	items={[
		{
			size: 1,
			minSize: 200,
			component: Component,
			props: {
				text: 'Test component 1'
			}
		},
		{
			size: 3,
			component: Component,
			props: {
				text: 'Test component 2'
			}
		},
		{
			size: 1,
			minSize: 200,
			component: Component,
			props: {
				text: 'Test component 2'
			}
		}
	]}
/>

<style>
	:global(body) {
		min-height: 100vh;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
			'Open Sans', 'Helvetica Neue', sans-serif;
	}
	:global(*) {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
</style>
