<script lang="ts">
	import { Tabs, Tab } from '@svuick/tabs';
</script>

<Tabs let:select>
	<button on:click={() => select('tab1')}>1</button>
	<button on:click={() => select('tab2')}>2</button>
	<button on:click={() => select('tab3')}>3</button>

	<Tab id="tab1">Tab 1</Tab>
	<Tab id="tab2">Tab 2</Tab>
	<Tab id="tab3">Tab 3</Tab>
</Tabs>
