<script lang="ts">
	import { getContext } from 'svelte';
	import type { InputErrorFunction, NativeInputError, UseFormContext, UseFormItem } from './types';

	const { items } = getContext<UseFormContext>('svuick-form');

	let name = '';
	export { name as for };
	export let on: NativeInputError | InputErrorFunction;

	if (!name) name = getContext('svuick-form-hint-name');

	let checkingPromise: Promise<void>;

	function check(item: UseFormItem) {
		if (!item || !item.touched) return false;

		checkingPromise = Promise.resolve((on as InputErrorFunction)(item.value)).then((valid) => {
			item.valid = valid;
			show = true;
			items.update((i) => i);
		});

		return false;
	}

	$: item = $items[name];
	$: node = item?.node;
	$: errors = item?.errors;

	$: show = typeof on === 'string' ? errors?.indexOf(on) === 0 : check(item);
</script>

{#await checkingPromise}
	<slot name="loading" />
{:then _}
	{#if node && show}
		<slot
			value={item.value}
			minLength={node.minLength}
			maxLength={node.maxLength}
			length={node.value?.length}
			min={Number(node.min)}
			max={Number(node.max)}
			step={Number(node.step)}
			type={node.type}
			pattern={node.pattern}
		/>
	{/if}
{/await}
