<script lang="ts">
	import { portal } from '@svuick/portal';

	const browser = typeof window !== 'undefined';

	export let target: HTMLElement | string | undefined = undefined;

	let show = false;
	let x: number, y: number;
	let menuElement: HTMLElement;
	let targetElement: HTMLElement;

	$: browser && !$$slots.default && setupTarget(target);
	$: menuElement && calcCoords(x, y);

	const CLOSE_EVENTS = ['click', 'contextmenu', 'mousedown', 'blur'];

	function calcCoords(currentX: number, currentY: number) {
		const rect = menuElement.getBoundingClientRect();
		x = Math.floor(Math.min(window.innerWidth - rect.width, currentX));
		if (currentY > window.innerHeight - rect.height) y -= rect.height;
	}

	function handleClose() {
		show = false;
		CLOSE_EVENTS.forEach((e) => window.removeEventListener(e, handleClose));
	}

	function handleOpen(e: MouseEvent) {
		if (show) {
			show = false;
			return;
		}
		e.preventDefault();
		e.stopPropagation();
		x = e.clientX;
		y = e.clientY;

		CLOSE_EVENTS.forEach((e) =>
			window.addEventListener(e, handleClose, { passive: true, capture: false })
		);
		show = true;
	}

	function stopPropagation(e: MouseEvent) {
		e.stopPropagation();
	}

	function setupTarget(target: HTMLElement | string | undefined) {
		if (typeof target === 'undefined') {
			throw new Error('you must provide a target or a default slot');
		}
		const element = target instanceof HTMLElement ? target : document.querySelector(target);

		if (!(element instanceof HTMLElement)) return;

		if (targetElement) targetElement.removeEventListener('contextmenu', handleOpen);
		targetElement = element;
		targetElement.addEventListener('contextmenu', handleOpen);
	}
</script>

<div class="svuick-contextmenu__container">
	{#if show}
		<div
			use:portal={'body'}
			bind:this={menuElement}
			class="svuick-contextmenu__menu"
			style="top: {y}px; left: {x}px;"
			on:mousedown={stopPropagation}
			on:contextmenu={stopPropagation}
		>
			<slot name="contextmenu" />
		</div>
	{/if}
	<slot open={handleOpen} />
</div>

<style>
	.svuick-contextmenu__container {
		display: contents;
	}
	.svuick-contextmenu__menu {
		position: absolute;
		z-index: 10;
	}
</style>
