<script context="module" lang="ts">
	import { tick } from 'svelte';
	/**
	 * Usage: <div use:portal={'css selector'}> or <div use:portal={document.body}>
	 */
	export function portal(
		node: HTMLElement,
		target: HTMLElement | string = 'body'
	): {
		update(newTarget?: HTMLElement | string): void;
		destroy(): void;
	} {
		let targetEl: HTMLElement | null;
		async function update(newTarget: HTMLElement | string = 'body') {
			target = newTarget;
			if (typeof target === 'string') {
				targetEl = document.querySelector(target);
				if (targetEl === null) {
					await tick();
					targetEl = document.querySelector(target);
				}
				if (targetEl === null) {
					throw new Error(`No element found matching css selector: "${target}"`);
				}
			} else if (target instanceof HTMLElement) {
				targetEl = target;
			} else {
				throw new TypeError(
					`Unknown portal target type: ${
						target === null ? 'null' : typeof target
					}. Allowed types: string (CSS selector) or HTMLElement.`
				);
			}
			targetEl.appendChild(node);
			node.hidden = false;
		}
		function destroy() {
			if (node.parentNode) {
				node.parentNode.removeChild(node);
			}
		}
		update(target);
		return {
			update,
			destroy
		};
	}
</script>

<script lang="ts">
	export let target: HTMLElement | string = 'body';
</script>

<div use:portal={target} hidden>
	<slot />
</div>
