<script lang="ts">
	import Editor from '@svuick/editor';
	import StarterKit from '@tiptap/starter-kit';
	import type { Level } from '@tiptap/extension-heading';

	const headingLevels = [1, 2, 3] as Level[];
</script>

<div class="not-prose h-[300px] bg-white text-black p-2 flex flex-col gap-2">
	<Editor let:editor extensions={[StarterKit]}>
		<div class="flex flex-wrap gap-2 h-min">
			{#each headingLevels as level}
				<button
					on:click={() => editor.chain().focus().toggleHeading({ level }).run()}
					class:active={editor.isActive('heading', { level })}>H{level}</button
				>
			{/each}
			<button
				on:click={() => editor.chain().focus().setParagraph().run()}
				class:active={editor.isActive('paragraph')}>P</button
			>
			<button
				on:click={() => editor.chain().focus().toggleBold().run()}
				class:active={editor.isActive('bold')}
			>
				<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 48 48"
					><path
						d="M14 36V8h11.4q3.5 0 5.825 2.1t2.325 5.3q0 2-.975 3.525T29.7 21.35v.3q2.35.75 3.575 2.45 1.225 1.7 1.225 4.1 0 3.5-2.425 5.65Q29.65 36 25.75 36Zm4.3-16.15h6.8q1.9 0 3.1-1.125 1.2-1.125 1.2-2.925 0-1.8-1.2-2.95-1.2-1.15-3.1-1.15h-6.8Zm0 12.35h7.2q2.2 0 3.45-1.175T30.2 27.8q0-2-1.25-3.175-1.25-1.175-3.45-1.175h-7.2Z"
					/></svg
				>
			</button>
			<button
				on:click={() => editor.chain().focus().toggleItalic().run()}
				class:active={editor.isActive('italic')}
			>
				<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 48 48"
					><path d="M10 40v-5h6.85l8.9-22H18V8h20v5h-6.85l-8.9 22H30v5Z" /></svg
				>
			</button>
			<button
				on:click={() => editor.chain().focus().toggleStrike().run()}
				class:active={editor.isActive('strike')}
			>
				<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 48 48"
					><path
						d="M25.2 40q-3.9 0-7.1-2.075-3.2-2.075-4.65-5.575l3.45-1.45q1 2.4 3.25 3.85 2.25 1.45 5.05 1.45 2.6 0 4.15-1.35 1.55-1.35 1.55-3.65 0-1.15-.475-2.425T29.1 26.5h4.2q.7 1.15 1.05 2.3.35 1.15.35 2.4 0 3.9-2.65 6.35Q29.4 40 25.2 40ZM4 23.5v-3h40v3ZM23.7 7.7q3.3 0 5.85 1.55t3.75 4.3l-3.45 1.55q-.7-1.7-2.325-2.65-1.625-.95-3.825-.95-2.45 0-3.95 1.2t-1.5 3.3q0 .4.05.75t.15.75h-3.7q-.1-.4-.15-.8-.05-.4-.05-.8 0-3.65 2.55-5.925T23.7 7.7Z"
					/></svg
				>
			</button>
		</div>
	</Editor>
</div>

<style lang="postcss">
	button {
		@apply py-1 px-2 bg-neutral-200;
	}
	.active {
		@apply bg-svuick-600;
	}
	:global(.svuick-editor) {
		@apply outline-none p-2 overflow-scroll h-full bg-white border;
	}

	:global(.svuick-editor h1) {
		font-size: 2em;
	}
	:global(.svuick-editor h2) {
		font-size: 1.5em;
	}
	:global(.svuick-editor h3) {
		font-size: 1.17em;
	}
	:global(.svuick-editor h4) {
		font-size: 1em;
	}
	:global(.svuick-editor h5) {
		font-size: 0.83em;
	}
	:global(.svuick-editor h6) {
		font-size: 0.67em;
	}
</style>
