<script lang="ts">
	import VirtualList from '@svuick/virtual-list';
	import { onMount } from 'svelte';

	let items = Array.from({ length: 10 }).map((_, i) => i + 1);
	let adding = true;

	onMount(() => {
		const id = setInterval(() => {
			if (adding) {
				items = [...items, items.length + 1];
			}
		}, 500);

		return () => {
			clearInterval(id);
		};
	});
</script>

<button on:click={() => (adding = !adding)}>{adding ? 'stop' : 'start'}</button>

<div style="height: 500px;">
	<VirtualList height="500px" {items} let:item autoscroll>
		<p>{item}</p>
	</VirtualList>
</div>
