<script>
	import Modal from '@svuick/modal';

	let show = false;
</script>

<section />

<span>Modal is currently {show ? 'open' : 'closed'}</span>

<Modal let:open let:close bind:show>
	<div slot="modal">
		<h1>Svuick modal</h1>
		<button on:click={close}>Close</button>
	</div>
	<button on:click={open}>Open</button>
</Modal>

<section />

<style>
	div {
		height: 110vh;
		background-color: #fff;
		border-radius: 0.25rem;
		padding: 1rem;
		margin: 1rem;
	}
	section {
		height: 70vh;
	}
</style>
