<script lang="ts">
	import { Detector, Generator } from '@svuick/scanner';

	let value: string = 'This is a test';
</script>

<div>
	<Detector format="qr_code" />
</div>

<div style="display: flex; flex-direction: column;">
	<input type="text" bind:value />
	<Generator data={value} size={300} />
</div>
