<script lang="ts" context="module">
	import PdfWorker from 'pdfjs-dist/build/pdf.worker?worker';

	async function setupPDF() {
		const PDF = await import('pdfjs-dist');
		PDF.GlobalWorkerOptions.workerPort = new PdfWorker();

		return PDF;
	}
</script>

<script lang="ts">
	import type pdfjs from 'pdfjs-dist';
	import type { PDFDocumentProxy } from 'pdfjs-dist/types/src/display/api';
	import type { PageViewport } from 'pdfjs-dist/types/src/display/display_utils';

	let ready = false;
	let PDF: typeof pdfjs;
	let canvasElement: HTMLCanvasElement;
	let canvasContext: CanvasRenderingContext2D;
	let document: PDFDocumentProxy;
	let pageCount: number;
	let pageRendering = false;
	let pageNumPending: number | null = null;

	let rotation = 0;
	export let autoScale = false;
	export let scale = 1.8;
	export let currentPage = 1;
	export let url: string;

	$: pageCount = ready ? document.numPages : -1;
	$: ready && getDocument(url);
	$: ready && queuePage(currentPage, scale, rotation, autoScale);

	function goto(page: number) {
		if (page < 1 || page > pageCount + 1) return;
		currentPage = page;
	}
	function next() {
		if (currentPage < pageCount) currentPage++;
	}
	function prev() {
		if (currentPage > 1) currentPage--;
	}
	function rotateCW() {
		rotation = (rotation + 90) % 360;
	}
	function rotateCCW() {
		rotation = (rotation + 270) % 360;
	}

	function queuePage(pageNum: number, scale: number, rotation: number, autoScale: boolean) {
		if (pageRendering) {
			pageNumPending = pageNum;
		} else {
			renderPage(pageNum, scale, rotation, autoScale);
		}
	}

	async function renderPage(pageNum: number, scale: number, rotation: number, autoScale: boolean) {
		if (pageNum < 1 || pageNum > pageCount + 1) return;
		pageRendering = true;

		const page = await document.getPage(pageNum);

		let viewport: PageViewport;
		if (autoScale) {
			const desiredWidth = canvasElement.getBoundingClientRect().width;
			const pageViewport = page.getViewport({ scale: 0.67 / window.devicePixelRatio, rotation });
			viewport = page.getViewport({ scale: desiredWidth / pageViewport.width, rotation });
		} else {
			viewport = page.getViewport({ scale, rotation });
		}
		canvasElement.width = viewport.width;
		canvasElement.height = viewport.height;

		await page.render({
			canvasContext,
			viewport
		}).promise;

		pageRendering = false;

		if (pageNumPending) {
			renderPage(pageNumPending, scale, rotation, autoScale);
			pageNumPending = null;
		}
	}

	async function getDocument(url: string) {
		document = await PDF.getDocument(url).promise;
	}

	async function setup() {
		if (!PDF) {
			PDF = await setupPDF();
		}

		// get document
		document = await PDF.getDocument(url).promise;
		ready = true;
	}
	async function cleanup() {
		await document.cleanup();
		await document.destroy();
	}

	export function canvas(node: HTMLCanvasElement) {
		setup();
		canvasElement = node;
		const ctx = node.getContext('2d');
		if (!ctx) {
			throw new Error('Could not get canvas rendering context');
		}

		canvasContext = ctx;
		canvasContext.imageSmoothingEnabled = true;
		canvasContext.imageSmoothingQuality = 'high';

		return {
			destroy() {
				cleanup();
			}
		};
	}
</script>

<slot {canvas} {ready} {currentPage} {pageCount} {prev} {next} {goto} {rotateCW} {rotateCCW}>
	<canvas use:canvas />
</slot>
