<script lang="ts">
	import { onMount } from 'svelte';
	import { Editor as TipTapEditor, type Content } from '@tiptap/core';

	let container: HTMLDivElement;
	let editor: TipTapEditor;

	let className = 'svuick-editor';
	export { className as class };
	export let type = 'html';
	export let content: Content = '';

	onMount(() => {
		editor = new TipTapEditor({
			...$$props,
			element: container,
			editorProps: {
				...($$props.editorProps ?? {}),
				attributes: {
					class: className
				}
			},
			onTransaction(...args) {
				if (type === 'html') {
					content = editor.getHTML();
				} else if (type === 'json') {
					content = editor.getJSON();
				} else if (type === 'text') {
					content = editor.getText();
				}
				editor = editor;

				if (typeof $$props.onTransaction === 'function') {
					$$props.onTransaction(...args);
				}
			}
		});

		return () => {
			editor?.destroy();
		};
	});
</script>

{#if editor}
	<slot {editor} />
{/if}

<div bind:this={container} />

<style>
	div {
		display: contents;
	}
</style>
