<script lang="ts">
	import ToastContainer from '$lib/ToastContainer.svelte';
</script>

<ToastContainer let:toast>
	<div class="toast toast-{toast.type}">
		{#if typeof toast.content === 'string'}
			{toast.content}
		{:else}
			<svelte:component this={toast.content} />
		{/if}
	</div>
</ToastContainer>

<slot />

<style>
	.toast {
		padding: 0.5em 1em;
		border-radius: 0.25em;
		color: #fff;
	}
	.toast-info {
		background-color: #3d3d99;
	}
	.toast-success {
		background-color: #3d996d;
	}
	.toast-warn {
		background-color: #99733d;
	}
	.toast-error {
		background-color: #993d3d;
	}
</style>
