<script lang="ts">
	import { createToast } from '@svuick/toast';

	const msgs = ['Toast', 'Success!', 'Image upload started...', 'Someone added you!'];
	const type = ['info', 'warn', 'success', 'error'];
	const randItem = (arr: any[]) => arr[Math.round(Math.random() * (arr.length - 1))];

	const create = () => {
		createToast({ ttl: 1000, content: randItem(msgs), type: randItem(type) });
	};
</script>

<button on:click={create}>Click</button>

<style global>
	body {
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
			'Open Sans', 'Helvetica Neue', sans-serif;
	}
</style>
