<script lang="ts">
	import type { EditorMatcher } from './types';
	import { getIdeContext } from './utils';
	import minimatch from 'minimatch';

	export let editors: EditorMatcher[];

	let selectedEditor = 0;

	const { currentFile } = getIdeContext();

	$: availableEditors = getAvailableEditors(editors, $currentFile);

	function getAvailableEditors(editors: EditorMatcher[], currentFile: string) {
		selectedEditor = 0;
		return editors.filter(({ pattern }) => {
			const matchPattern = Array.isArray(pattern) ? pattern : [pattern];

			return matchPattern.some((pattern) => minimatch(currentFile, pattern));
		});
	}
</script>

<slot {availableEditors}>
	<div class="svuick-ide__editor">
		{#if availableEditors.length === 0}
			<span>No editors available</span>
		{:else}
			<slot name="available-editors">
				{#if availableEditors.length > 1}
					<ul class="svuick-ide__available-editor-list">
						{#each availableEditors as { name }, i}
							<li>
								<button class:active={selectedEditor === i} on:click={() => (selectedEditor = i)}>
									{name}
								</button>
							</li>
						{/each}
					</ul>
				{/if}
			</slot>

			<div class="svuick-ide__editor_wrapper">
				<svelte:component this={availableEditors[selectedEditor].component} />
			</div>
		{/if}
	</div>
</slot>

<style>
	.svuick-ide__editor {
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	ul {
		margin: 0;
		padding: 0;
		display: flex;
		list-style-type: none;
	}
	button {
		display: block;
		padding: 0.75em 1em;
		border: none;
		background-color: #2d2d2d;
		color: #fff;
		cursor: pointer;
	}
	button.active {
		background-color: #1e1e1e;
	}

	.svuick-ide__available-editor-list {
		background-color: #252526;
	}

	.svuick-ide__editor_wrapper {
		height: 100%;
		width: 100%;
	}
</style>
