<script lang="ts">
	import { onMount, setContext } from 'svelte';
	import { setupMonaco, cleanupMonaco, createModel } from '@svuick/monaco';
	import { createEventContext } from '@svuick/events';
	import type { IdeContext, IdeEvents } from './types';
	import { writable } from 'svelte/store';
	import Explorer from './explorer/Explorer.svelte';
	import Editor from './Editor.svelte';
	import TextEditor from './editors/TextEditor.svelte';

	export let currentFile: string;
	export let files: Record<string, string> = {};
	let ready = false;

	const context = setContext<IdeContext>('SVUICK_IDE', {
		files: writable(files),
		currentFile: writable(currentFile)
	});
	const events = createEventContext<IdeEvents>('SVUICK_IDE_EVENTS');

	const filesStore = context.files;
	events.on('file_open', ({ path }) => context.currentFile.set(path));
	events.on('file_added', ({ path, content }) => ($filesStore[path] = content));
	events.on('file_removed', ({ path }) => delete $filesStore[path]);
	events.on('file_changed', ({ path, content }) => ($filesStore[path] = content));

	function loadModels() {
		for (const path in files) {
			createModel(path, files[path]);
		}
		ready = true;
	}

	onMount(() => {
		setupMonaco({
			onReady: loadModels
		});

		return () => {
			cleanupMonaco();
		};
	});
</script>

<slot {ready}>
	<div class="svuick-ide">
		{#if ready}
			<slot name="explorer">
				<Explorer />
			</slot>

			<slot name="editor">
				<Editor
					editors={[
						{
							name: 'default editor',
							component: TextEditor,
							pattern: '**/*'
						}
					]}
				/>
			</slot>

			<slot name="console" />
		{/if}
	</div>
</slot>

<style>
	.svuick-ide {
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-areas:
			'explorer editor'
			'explorer console';
		grid-template-columns: max-content 1fr;
		grid-template-rows: 1fr max-content;
	}
</style>
