<script lang="ts">
	export let avatar: string;
	export let name: string;
	export let content: string;
</script>

<div
	class="card relative p-2 pl-24 border-neutral-500 bg-neutral-100 dark:bg-code rounded shadow min-h-[6rem]"
>
	<span
		class="absolute top-2 left-2 h-20 w-20 rounded-full bg-no-repeat bg-center"
		style="background: url({avatar})"
	/>
	<h2 class="pb-2">{name}</h2>
	<p class="text-sm">{content}</p>
</div>
