<script lang="ts">
	import VirtualList from '@svuick/virtual-list';
	import items from './data.js';
	import ListItem from './ListItem.svelte';

	let start: number;
	let end: number;
</script>

<p>
	Instead of rendering all your data, <code>&lt;VirtualList&gt;</code> just renders the bits that are
	visible, keeping your page nice and light.
</p>

<div
	class="not-prose py-1 border-y h-[600px] min-h-[200px] border-neutral-200 dark:border-neutral-500"
>
	<VirtualList {items} bind:start bind:end let:item>
		<ListItem {...item} />
	</VirtualList>
</div>

<p>showing items {start}-{end} / {items.length}</p>

<style lang="postcss">
	div :global(svelte-virtual-list-row) {
		@apply mr-2;
	}
	div :global(svelte-virtual-list-row:not(:last-child)) {
		@apply mb-2;
	}
</style>
