<script lang="ts">
	import { getContext, onDestroy } from 'svelte';
	import { type TabContext, TABS } from './Tabs.svelte';

	const { registerTab, unregisterTab, selectedTab } = getContext<TabContext>(TABS);

	export let id: number | string;
	registerTab(id);

	onDestroy(() => {
		unregisterTab(id);
	});
</script>

{#if id === $selectedTab}
	<slot />
{/if}
