<script lang="ts" context="module">
	import type { Readable } from 'svelte/store';
	export const TABS = {};

	export interface TabContext {
		registerTab: (id: string | number) => number;
		unregisterTab: (id: any) => number;
		selectedTab: Readable<string | number | null>;
		select: (id: string | number) => void;
	}

	export function openTab(id: number | string) {
		const { select } = getContext<TabContext>(TABS);
		select(id);
	}
</script>

<script lang="ts">
	import { getContext, setContext } from 'svelte';
	import { writable } from 'svelte/store';

	export let selected: number | string | null = null;

	let index = 0;
	const tabs = writable<Set<number | string>>(new Set());
	const selectedTab = writable<number | string | null>(selected);

	$: selected = $selectedTab;

	function registerTab(id: string | number) {
		$tabs.add(id);
		if ($selectedTab === null) $selectedTab = id;
		return index;
	}
	function unregisterTab(id: string | number) {
		$tabs.delete(id);
		if ($selectedTab === id) $selectedTab = $tabs.values().next().value ?? null;
		return index;
	}

	setContext<TabContext>(TABS, {
		registerTab,
		unregisterTab,
		selectedTab: { subscribe: selectedTab.subscribe },
		select
	});

	function select(id: number | string) {
		if ($tabs.has(id)) {
			$selectedTab = id;
		}
	}
</script>

<slot {select} />
