<script lang="ts" context="module">
	const routes = GET_ROUTES('/packages', true);
</script>

<script lang="ts">
	import { slide } from 'svelte/transition';
	import { page } from '$app/stores';

	const packages = routes.filter((r) => r.url.split('/').length === 3);

	$: segment = $page.url.pathname.split('/')[2];

	$: subRoutes = routes.filter((r) => r.url.split('/')[2] === segment && r.name !== segment);
</script>

<main class="flex gap-8 container mx-auto">
	<aside class="flex flex-col sticky top-0 h-min py-8">
		<nav>
			<a
				sveltekit:prefetch
				class="font-medium mb-4"
				aria-current={segment === undefined ? 'page' : undefined}
				href="/packages">Overview</a
			>
			<h2 class="px-2 font-medium text-neutral-700 dark:text-neutral-300">Packages</h2>
			{#each packages as pkg}
				{@const subSections = segment === pkg.name && subRoutes}

				<a
					sveltekit:prefetch
					aria-current={$page.url.pathname === pkg.url ? 'page' : undefined}
					href={pkg.url}>{pkg.name}</a
				>
				{#if subSections}
					<ul
						class="border-l ml-2 dark:border-neutral-700"
						transition:slide|local={{ duration: 200 }}
					>
						{#each subRoutes as route}
							<li>
								<a
									sveltekit:prefetch
									class="!pl-4"
									aria-current={$page.url.pathname === route.url ? 'page' : undefined}
									href={route.url}>{route.name}</a
								>
							</li>
						{/each}
					</ul>
				{/if}
			{/each}
		</nav>
	</aside>

	<div class="mx-auto py-8">
		<slot />
	</div>
</main>

<style lang="postcss">
	nav a {
		@apply block px-2 py-1 transition-colors text-sm font-medium text-neutral-400;
	}
	nav a:hover {
		@apply text-neutral-800 dark:text-white;
	}
	nav [aria-current],
	nav [aria-current]:hover {
		@apply text-svuick-500 dark:text-svuick-500;
	}
</style>
