<script lang="ts" context="module">
	const routes = GET_ROUTES('/guides');

	function filter(search: string) {
		if (!search) return routes;

		const words = search.split(' ');
		return routes.filter((r) => words.some((w) => r.name.includes(w)));
	}
</script>

<script lang="ts">
	let search = '';
	let filtered = routes;

	$: filtered = filter(search);
</script>

<div class="prose dark:prose-invert">
	<h1>Svuick guides</h1>
</div>

{#if routes.length}
	<label class="mt-8 block">
		<input class="w-full" type="text" bind:value={search} />
	</label>
{/if}

<ul class="mt-8 flex flex-wrap justify-center">
	{#each filtered as route}
		<li>
			<a sveltekit:prefetch href={route.url}>{route.name}</a>
		</li>
	{:else}
		<p class="text-xl">No guides found.</p>
	{/each}
</ul>
