<script lang="ts">
	import ContextMenu from '@svuick/contextmenu';
</script>

<ContextMenu target="body">
	<div slot="contextmenu" class="contextmenu">
		<button on:click={() => console.log('global 1')}>Option 1</button>
		<button on:click={() => console.log('global 2')}>Option 2</button>
		<button on:click={() => console.log('global 3')}>Option 3</button>
	</div>
</ContextMenu>

<div style="position: absolute; top: 50%; left: 50%">
	<ContextMenu let:open>
		<div slot="contextmenu" class="contextmenu">
			<button on:click={() => console.log('scoped 1')}>Option 1</button>
			<button on:click={() => console.log('scoped 2')}>Option 2</button>
			<button on:click={() => console.log('scoped 3')}>Option 3</button>
		</div>
		<div class="opener" on:contextmenu={open}>Test!</div>
	</ContextMenu>
</div>

<style>
	:global(body) {
		min-height: 100vh;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
			'Open Sans', 'Helvetica Neue', sans-serif;
	}
	:global(*) {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	.opener {
		background-color: floralwhite;
		padding: 1em;
	}
	.contextmenu {
		border: 1px solid #eee;
		display: flex;
		flex-direction: column;
		min-width: max-content;
		box-shadow: 1px 1px 10px rgb(0 0 0 / 0.15);
	}
	button {
		background-color: #fafafa;
		border: none;
		cursor: pointer;
		padding: 0.5em 1em;
	}
	button:hover {
		background-color: #f3f3f3;
	}
</style>
