<script lang="ts">
	import { throttle } from '@svuick/store';
	import { writable } from 'svelte/store';

	const store = writable('');
	const throttled = throttle(store, 500);
</script>

<input type="text" bind:value={$store} />

<div class="flex flex-col mt-4">
	<div>Store:</div>
	<div class="bg-code text-neutral-100 px-2 rounded">{$store}</div>
	<div>Throttled:</div>
	<div class="bg-code text-neutral-100 px-2 rounded">{$throttled}</div>
</div>
