<script lang="ts">
	import { undoRedoAction } from '@svuick/store';
	import { writable } from 'svelte/store';

	const store = writable(1);
	const history = undoRedoAction(store);

	let multiplier = 0;

	function handleMultiply() {
		const mul = multiplier;
		history.doAction({
			apply(value) {
				return value * mul;
			},
			reverse(value) {
				return value / mul;
			}
		});
	}
</script>

<div class="flex gap-2">
	<input type="number" bind:value={multiplier} />
	<button on:click={handleMultiply}>Multiply</button>
</div>

<div class="flex gap-2 mt-2">
	<div class="bg-code text-neutral-100 px-1 rounded">Value: <span>{$store}</span></div>
	<button on:click={() => history.undo()}>undo</button>
	<button on:click={() => history.redo()}>redo</button>
</div>
