<slot />

<style>
	:global(body) {
		margin: 0;
		background-color: #1e1e1e;
		color: #f1f1f1;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
			'Open Sans', 'Helvetica Neue', sans-serif;
	}
</style>
