<script lang="ts">
	import { getIdeContext } from '@svuick/ide';

	const { currentFile } = getIdeContext();
</script>

<h1>Test Editor!</h1>

<p>
	You are working at file <strong>{$currentFile}</strong>
</p>
