<script lang="ts">
	import Editor from '$lib/Editor.svelte';
	import IDE, { TextEditor } from '@svuick/ide';
	import TestEditor from './_TestEditor.svelte';

	const files: Record<string, string> = {
		'/src/test.ts': 'export const test = () => console.log("test");',
		'/main.ts': 'import { test } from "./src/test";\ntest();'
	};
</script>

<div>
	<IDE {files} currentFile="/main.ts">
		<Editor
			slot="editor"
			editors={[
				{
					name: 'text editor',
					pattern: '**/*',
					component: TextEditor
				},
				{
					name: 'test editor',
					pattern: '/*',
					component: TestEditor
				}
			]}
		/>
	</IDE>
</div>

<style>
	div {
		height: 100vh;
		max-height: 100vh;
	}
</style>
