<script lang="ts" context="module">
	import type { SvelteComponent } from 'svelte';
	import { writable } from 'svelte/store';

	type VerticalAlign = 'top' | 'bottom';
	type HorizontalAlign = 'left' | 'center' | 'right';

	type Align = `${VerticalAlign}-${HorizontalAlign}`;

	export type ToastType = 'info' | 'success' | 'warn' | 'error' | (string & {});

	export interface Toast {
		id: number;
		content: string | SvelteComponent;
		ttl: number;
		type: ToastType;
	}

	let id = 0;
	const store = writable<Toast[]>([]);

	export function createToast(toast: Omit<Toast, 'id'>) {
		const t: Toast = { ...toast, id: id++ };
		store.update((s) => [...s, t]);

		console.log(t);

		return () => removeToast(t.id);
	}
	export function removeToast(id: Toast['id']) {
		store.update((s) => s.filter((t) => t.id !== id));
	}

	const alignMap: Record<string, string> = {
		top: 'start',
		bottom: 'end',
		left: 'start',
		center: 'center',
		right: 'end'
	};
</script>

<script lang="ts">
	import ToastItem from './Toast.svelte';
	import { flip } from 'svelte/animate';
	import { fly } from 'svelte/transition';

	export let align: Align = 'top-right';
	export let count = 10;

	$: verticalAlign = alignMap[align.split('-')[0]];
	$: horizontalAlign = alignMap[align.split('-')[1]];
</script>

<div
	class="svuick-toast__container"
	style:--vertical={verticalAlign}
	style:--horizontal={horizontalAlign}
>
	<ul class="svuick-toast__list">
		{#each $store.slice(0, Math.max(count, -1)) as toast (toast.id)}
			<li
				class="svuick-toast__list-item"
				animate:flip={{ duration: 200 }}
				transition:fly={{ y: 30, duration: 200 }}
			>
				<slot {toast}>
					<ToastItem {toast} />
				</slot>
			</li>
		{/each}
	</ul>
</div>

<style>
	div {
		position: absolute;
		pointer-events: none;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		max-width: 100%;
		z-index: -999;
		isolation: isolate;
		display: grid;
		justify-content: var(--horizontal);
		align-content: var(--vertical);
		overflow: hidden;
		padding: 0;
		margin: 0;
	}
	ul {
		max-width: 100%;
		display: flex;
		flex-direction: column;
		align-items: var(--horizontal);
		list-style-type: none;
		padding: 0;
		margin: 0.2rem;
		gap: 0.2rem;
	}
	li {
		pointer-events: all;
		max-width: 100%;
	}
</style>
