<script lang="ts">
	import type { Toast } from './ToastContainer.svelte';
	import { removeToast } from './ToastContainer.svelte';

	export let toast: Toast;
</script>

<div>
	{#if typeof toast.content === 'string'}
		{toast.content}
	{:else}
		<svelte:component this={toast.content} />
	{/if}
</div>

<style>
	div {
		display: block;
		padding: 0.5rem 0.75rem;
		margin: 0.1rem;
		background-color: #3c3e46;
		color: #fff;
	}
</style>
