<script lang="ts">
	import MultiAsText from './_multi.svelte?raw';

	import {
		TextEditor,
		createModel,
		setupMonaco,
		cleanupMonaco,
		type ContentChangeEvent
	} from '@svuick/monaco';
	import { onMount } from 'svelte';

	let path = '/component.html';

	const files: Record<string, string> = {
		'/component.html': MultiAsText,
		'/test.ts': 'export function test() {\n\tconsole.log("test");\n}',
		'/main.ts': 'import { test } from "./test";\n\ntest();',
		'/file.yaml': 'this:\n\tis: yaml!',
		'/file.json': '{\n\t"json": "file"\n}'
	};

	function loadModels() {
		for (const file in files) {
			createModel(file, files[file]);
		}
	}

	function handleContentChange(e: ContentChangeEvent) {
		const { path, content } = e.detail;
		files[path] = content;
	}

	onMount(() => {
		setupMonaco({
			onReady: loadModels
		});

		return () => {
			cleanupMonaco();
		};
	});
</script>

<div class="h-screen w-screen bg-[#1e1e1e] flex">
	<ul class="h-full w-max bg-[#252526]">
		<li class="mb-8">
			<a class="whitespace-nowrap hover:bg-svuick-500" href="/packages/monaco">Go back</a>
		</li>
		{#each Object.keys(files).sort() as file}
			<li><button class:active={path === file} on:click={() => (path = file)}>{file}</button></li>
		{/each}
	</ul>
	<div class="h-full w-full">
		<TextEditor
			language={''}
			{path}
			config={{ theme: 'vs-dark' }}
			on:content_changed={handleContentChange}
		/>
	</div>
</div>

<style lang="postcss">
	button,
	a {
		@apply block px-8 py-1 w-full bg-[#252526] text-white text-left;
	}
	button:hover {
		background-color: #2a2d2e;
	}
	button.active {
		background-color: #37373d;
	}
	button:focus {
		background-color: #04395e;
		outline: 2px solid #0078c8;
		outline-offset: -2px;
	}
</style>
