<script lang="ts">
	import TextEditor from '@svuick/monaco';

	let content = `<script lang="ts">
	import TextEditor from '@svuick/monaco';

	let content = \`this components code!\`;
</${'script>'}

<div>
	<div>
		<a href="/packages/monaco"
			>Go back</a
		>
	</div>

	<TextEditor single path="/test.js" language="html" bind:content config={{ theme: 'vs-dark' }} />
</div>

`;
</script>

<div class="h-screen w-screen bg-[#1e1e1e] flex flex-col">
	<div class="bg-[#252526]">
		<a class="inline-block px-8 py-1 text-white hover:bg-svuick-500" href="/packages/monaco"
			>Go back</a
		>
	</div>

	<TextEditor single path="/test.js" language="html" bind:content config={{ theme: 'vs-dark' }} />
</div>
