<script lang="ts">
	import { fly } from 'svelte/transition';

	let scrollY: number;
</script>

<svelte:window bind:scrollY />

{#if scrollY > 50}
	<div transition:fly|local={{ y: 50 }} class="fixed bottom-8 right-8 z-10">
		<button
			class="rounded-full p-2 transition-colors bg-neutral-400/50 hover:bg-neutral-400/60 dark:bg-neutral-500/50 dark:hover:bg-neutral-500/75"
			on:click={() => window.scrollTo({ top: 0 })}
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="h-6 w-6"
				fill="none"
				viewBox="0 0 24 24"
				stroke="currentColor"
				stroke-width="2"
			>
				<path stroke-linecap="round" stroke-linejoin="round" d="M7 11l5-5m0 0l5 5m-5-5v12" />
			</svg>
		</button>
	</div>
{/if}
