<script lang="ts">
	const URL = import.meta.env.VITE_SITE_URL;
	export let title: string = 'Svuick';
	export let description: string = 'useful svelte/kit packages';
	export let url: string = URL;
</script>

<svelte:head>
	<title>{title}</title>
	<meta name="description" content={description} />
	<meta property="og:type" content="website" />
	<meta property="og:url" content={url} />
	<meta property="og:title" content={title} />
	<meta property="og:description" content={description} />
	<meta property="og:image" content="{URL}/images/svuick.png" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content={title} />
	<meta name="twitter:description" content={description} />
	<meta name="twitter:image" content="{URL}/images/svuick.png" />
</svelte:head>
