<svelte:head>
	<script>
		(() => {
			const key = 'svuick-theme';
			const media = matchMedia('(prefers-color-scheme: dark)');
			let mediaDark = media.matches;
			let value = localStorage.getItem(key);

			media.addEventListener('change', (ev) => {
				mediaDark = ev.matches;
				update();
			});
			window.addEventListener('storage', (ev) => {
				console.log(ev);
				if (ev.key === key) {
					value = ev.newValue;
					update();
				}
			});
			update();

			function update() {
				if (value === 'dark' || ((!value || value === 'auto') && mediaDark)) {
					document.documentElement.classList.add('dark');
				} else {
					document.documentElement.classList.remove('dark');
				}
			}
		})();
	</script>
</svelte:head>
