<script lang="ts" context="module">
	const SECONDS = 1000;
	const MINUTES = 60 * SECONDS;
	const HOURS = 60 * MINUTES;
	const DAYS = 24 * HOURS;
	const WEEKS = 7 * DAYS;
	const MONTHS = 4 * WEEKS;
	const YEARS = 365.25 * DAYS;

	const round = (time: number) => (time < 0 ? Math.ceil(time) : Math.floor(time));
</script>

<script lang="ts">
	import { onMount } from 'svelte';

	export let live: boolean | number = false;
	export let relative = false;
	export let locales: string | string[];
	export let format: Intl.DateTimeFormatOptions | Intl.RelativeTimeFormatOptions | undefined =
		undefined;
	export let timestamp: number | string | Date = new Date();

	function _format(relative: boolean, date: Date) {
		if (!relative) return (formatter as Intl.DateTimeFormat).format(date);

		const now = new Date();

		let unit: Intl.RelativeTimeFormatUnit;
		let delta = date.getTime() - now.getTime();

		const dt = Math.abs(delta);
		const negate = dt !== delta;

		if (dt / YEARS >= 1) {
			delta = round(dt / YEARS);
			unit = 'year';
		} else if (dt / MONTHS >= 1) {
			delta = (date.getFullYear() - now.getFullYear()) * 12 + (date.getMonth() - now.getMonth());
			unit = 'month';
		} else if (dt / WEEKS >= 1) {
			delta = round(dt / WEEKS);
			unit = 'week';
		} else if (dt / DAYS >= 1) {
			delta = round(dt / DAYS);
			unit = 'day';
		} else if (dt / HOURS >= 1) {
			delta = round(dt / HOURS);
			unit = 'hour';
		} else if (dt / MINUTES >= 1) {
			delta = round(dt / MINUTES);
			unit = 'minute';
		} else {
			delta = round(dt / SECONDS);
			unit = 'second';
		}

		if (negate) {
			delta *= -1;
		}

		return (formatter as Intl.RelativeTimeFormat).format(delta, unit);
	}

	$: formatter = relative
		? new Intl.RelativeTimeFormat(locales, format)
		: new Intl.DateTimeFormat(locales, format);

	$: date = new Date(timestamp);
	$: formatted = _format(relative, date);
	$: title = date.toISOString();

	if (live) {
		onMount(() => {
			if (relative) formatted = _format(relative, date);
			else timestamp = new Date();
			const interval = setInterval(
				() => {
					if (relative) formatted = _format(relative, date);
					else timestamp = new Date();
				},
				typeof live === 'number' ? live : 1000
			);

			return () => {
				clearInterval(interval);
			};
		});
	}
</script>

<time {title} {...$$restProps}>
	{formatted}
</time>
